@import url("https://fonts.googleapis.com/css?family=Courier+Prime|Montserrat:400,500,600&display=swap");
body {
  max-height: 99vh;
  margin: 0;
  padding: 0;
}

.main {
  background: linear-gradient(130deg, #3C91E6, #3a3636 115%);
  overflow-y: hidden;
  height: 99vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px auto 30px;
      grid-template-columns: 30px auto 30px;
  -ms-grid-rows: 15% auto;
      grid-template-rows: 15% auto;
}

header {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

#firstName {
  white-space: nowrap;
  color: #EDEDED;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  font-family: 'Montserrat', sans-serif;
  -webkit-animation: moveName 4s 1 ease, showBorder 6s 1 ease-in;
          animation: moveName 4s 1 ease, showBorder 6s 1 ease-in;
  letter-spacing: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@-webkit-keyframes moveName {
  from {
    letter-spacing: 130px;
  }
  to {
    letter-spacing: 3px;
  }
}

@keyframes moveName {
  from {
    letter-spacing: 130px;
  }
  to {
    letter-spacing: 3px;
  }
}

@-webkit-keyframes showBorder {
  from {
    border-bottom: #ededed48 1px solid;
  }
  to {
    border-bottom: #f7f3f303 1px;
  }
}

@keyframes showBorder {
  from {
    border-bottom: #ededed48 1px solid;
  }
  to {
    border-bottom: #f7f3f303 1px;
  }
}

.boxes {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  font-family: 'Montserrat', sans-serif;
}

.box {
  padding: .4em;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  border-radius: 45px;
  background: #EDEDED;
  width: 77px;
  height: 75px;
  -webkit-transition: width 1200ms ease,  height 1200ms ease,  background 1200ms  0950ms ease-in;
  transition: width 1200ms ease,  height 1200ms ease,  background 1200ms  0950ms ease-in;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 3px;
  -webkit-animation: moveName 1s  linear;
          animation: moveName 1s  linear;
}

.bigBox {
  margin-left: 1em;
  margin-right: 1em;
  background: #FAFFFD;
  width: 70vw;
  height: 75vh;
  -webkit-transition: width 1200ms  ease-in-out, height 1200ms ease-in, color 1200ms 0950ms ease-in, font-size 1200ms 50ms ease-in;
  transition: width 1200ms  ease-in-out, height 1200ms ease-in, color 1200ms 0950ms ease-in, font-size 1200ms 50ms ease-in;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 52px;
  border-radius: 51px;
  -webkit-box-shadow: -2px -2px 1px #4d4c4c;
          box-shadow: -2px -2px 1px #4d4c4c;
  display: inherit;
  font-size: 2em;
  color: #342E37;
}

.boxText {
  border-radius: 25%;
  -webkit-font-kerning: none;
          font-kerning: none;
  font-variant: petite-caps;
}

.boxText:hover {
  cursor: pointer;
}

.skillRow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=main.css.map */